<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
		<supportedRuntime version="v2.0.50727"/>
    </startup>
	<connectionStrings>
  <add name="sql" connectionString="server=.;database=kinyaoo123456;uid=sa;pwd=123456;" />
	<!--<add name="sql" connectionString="server=59.110.172.193;database=kinyaoo123456;uid=sa;pwd=YiXiu0532;" />-->
  <!--<add name="yixiupige.Properties.Settings.kinyaoo123456ConnectionString"
   connectionString="Data Source=sql.m76.vhostgo.com;Initial Catalog=kinyaoo123456;User ID=kinyaoo123456;Password=hkvxupus72"
   providerName="System.Data.SqlClient" />-->
 </connectionStrings>
	<appSettings>
		<add key="dqbe" value="一休健康洗护店面管理软件"/>
		<add key="rjgs" value="青岛一宿皮革制品有限公司：0532-82233769 "/>
		<add key="ip" value="59.110.172.193"/>
		<add key="user" value="Administrator "/>
		<add key="pwd" value="YiXiu0532~"/>
	</appSettings>
</configuration>