<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<connectionStrings>
  <add name="sql" connectionString="server=sql.m76.vhostgo.com;database=kinyaoo123456;uid=kinyaoo123456;pwd=hkvxupus72;" />
  <add name="yixiupige.Properties.Settings.kinyaoo123456ConnectionString"
   connectionString="Data Source=sql.m76.vhostgo.com;Initial Catalog=kinyaoo123456;User ID=kinyaoo123456;Password=hkvxupus72"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>